images/
images2/
sounds/
images_sg_su21_ms (1).7z
/sounds
chiriboga.code-workspace
carddata/Netrunner Comprehensive Rules (v25.08).pdf
Netrunner Comprehensive Rules (v25.08).pdf
.vscode/
.vscode/sftp.json
.DS_Store 
ai_corp_original.js
